venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
.Python
env/
build/
dist/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
*.egg
.pytest_cache/
pip-wheel-metadata/
.mypy_cache/
.vscode/
.env
.DS_Store
/models/
/results/
*.pkl
*.joblib
.idea/